@model IEnumerable<string>
<div id="header">
    <ul>
        <li> <a href="/">Home</a></li>
        @foreach (var category in Model)
        {
            <li>
                <a  href="/Store?productPage=1&category=@category"
                    asp-action="Index"
                    asp-controller="Store"
                    asp-route-category="@category"
                    asp-route-productPage="1">
                    @category
                </a>
            </li>
        }
    </ul>

    </div>
@*<div id="header">
        <ul>
            <li>
                <span class="nav-icon">
                    <img src="/image-desktop/1x/nav-icon.png" alt=".">
                </span>
                <a href="/">Home</a>
            </li>
            <li><a href="/Store/?productPage=1&category=Nixie">Nixie</a></li>
            <li><a href="/Store/?productPage=1&category=TuTu">TuTu</a></li>
            <li><a href="/Store/?productPage=1&category=Fairy">Dandelions</a></li>
            <li><a href="/Store/?productPage=1&category=All">All</a></li>
        </ul>

    </div>*@