@model MojoDesignCollection.Models.ModelView.ProductListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Store_Layout.cshtml";
}

<div class="storemain">
    <div class="container">
        <div class="row">
            @foreach (var product in Model.Products)
            {
            <div class="col-md-4 mdc">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                         role="img" aria-label="Placeholder: Doll">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef"
                              dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <h4>@product.Name</h4>
                        <p>@product.Category</p>
                        <p class="card-text">@product.Description</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-outline-primary">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                    </svg>
                                </button>
                            </div>
                            <small class="text-muted">@product.Price</small>
                        </div>
                    </div>
                </div>
            </div>
            }

        </div>
        <br />
        <hr />

        <div class="d-flex justify-content-center">
            <nav aria-label="Mojo Design Collection Navigation">
                @{ var pagingInfo = Model.PagingInfo; }
                <ul class="pagination pagination-circle pagination-md pg-teal">

                    @for (int pn = 1; pn <= Model.PagingInfo.TotalPages; pn++)
                    {

                    <li class="page-item green"><a class="page-link" href="?productPage=@pn"> @pn </a></li>

                    }

                </ul>
            </nav>
        </div>
    </div>
</div>
 