
@model MojoDesignCollection.Models.ModelView.ProductListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Store_Layout.cshtml";
}

<div class="storemain">
    <div class="container">
        <div class="row">
            @foreach (var p in Model.Products)
            {
                @await Html.PartialAsync("Components/ProductCard", p);
            }
        </div>
        <br />
        @if (!Model.Products.Any())
        {
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Info!</strong> No Doll Found! Try To Select Category form the top menu
            </div>
 
        }
        <div class="d-flex justify-content-center mdc-pagination">
            <ul class="pagination pagination-circle pagination-md">
 
                @{
                    var pagingInfo = Model.PagingInfo;


                    for (int pn = 1; pn <= pagingInfo.TotalPages; pn++)
                    {

                        <li class="page-item"><a class="page-link" href="?productPage=@pn&category=@Model.Category"> @pn </a></li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

