
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<div id="HomePage">

    <div id="header">
        <ul>
            <li>
                <span class="nav-icon">
                    <img src="./image-desktop/1x/nav-icon.png" alt=".">
                </span>
                <a href="#HomePage">Home</a>
            </li>
            <li><a href="#AboutPage">About</a></li>
            <li><a href="#ContactPage" id="contact-menu">Contact</a></li>
            <li><a href="#">Shop</a></li>
        </ul>
    </div>

    <div class="main">
        <div class="logo">
            <div class="logo-img"><img src="./image-desktop/SVG/page-head-logo.svg"></div>
        </div>
    </div>

    <!-- STORE CATEGORY MENUs-->
    <div class="store-category">
        <div>
            <div class="container">
                <a href="/store?productPage=1&category=Nixie">
                    <img src="./image-desktop/1x/Nixie-Menu.png" alt="Nixie" class="image">
                    <div class="overlay"> </div>
                </a>
            </div>
        </div>
        <div>
            <div class="container">
                <a href="/store?productPage=1&category=TuTu">
                    <img src="./image-desktop/1x/Tutu-Menu.png" alt="TuTu" class="image">
                    <div class="overlay"></div>
                </a>
            </div>
        </div>
        <div>
            <div class="container">
                <a href="/store?productPage=1&category=Fairy">
                    <img src="./image-desktop/1x/Dandelions-Menu.png" alt="Dandelions" class="image">
                    <div class="overlay"> </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /STORE CATEGORY MENUs-->

</div>

<!-- #####################################   About  ############################################-->
<div id="AboutPage">

    <div name="about-header" class="main about-header"><img src="./image-desktop/1x/About-Header.png"></div>
    <br><br>
    <div name="about-body">
        <div class="about-wrapper main">
            <div class="about-body-left">
                <div class="left-img"><img src="./image-desktop/1x/About-Image.png" alt="about"></div>
            </div>
            <div class="about-body-right">

                <div><span class="quote"><img src="./image-desktop/1x/About-Left.png" alt="`" class="left-quote"></span></div>
                <div>
                    My name is Mojdeh Mollakarimian, a graphic designer and a<br />
                    doll artist based in Australia.<br />
                    <br>
                    I have always loved painting and creating new characters. <br />
                    I remember when I was a little girl, my mom used to make dolls<br />
                    out of yarns and pom poms. And how impatiently we were <br />
                    waiting for them to get ready! I decided to share this beautiful<br />
                    and indescribable feeling with others. I believe that in this <br />
                    machinery world that everything is getting more virtual and<br />
                    feeling-less, handmade items would help to save those<br />
                    nostalgic feelings.
                    <br /><br />
                    My true passion is to design. I use  many colors in my artworks.<br />
                    My favorite colors are Turquoise, Pink and Purple.<br />
                    All fabrics and materials in my works are carefully selected and <br />
                    every single stitch is made with love & passion. All my designs are <br />
                    original.
                    <br /><br />
                    Thank you for reading my story
                </div>
                <div>
                    <span class="quote"><img src="./image-desktop/1x/About-Right.png" alt="`" class="right-quote"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #####################################   Contact  ############################################-->
<div id="ContactPage">
    <div name="contact-header" class="contact-header main">
        <img src="./image-desktop/1x/Contact-Header.png">
    </div>
    <a href="mailto:mojodesigncollection@yahoo.com" class="mailto">
        <div class="contract-body main">
            <div class="mail-logo"></div>
            <div class="mail-body">mojodesigncollection@yahoo.com</div>
        </div>
    </a>
        <div class="social-media">
            <ul>
                <li>
                    <a target="_blank" href="https://www.instagram.com/mojodesigncollection/">
                        <img src="./image-desktop/SVG/Instagram.svg">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.facebook.com/Mojodesigncollection-1320634341364443/">
                        <img src="./image-desktop/SVG/Facebook.svg">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://hu.pinterest.com/mojo_design/">
                        <img src="./image-desktop/SVG/Pintrest.svg">
                    </a>
                </li>
            </ul>
        </div>
    
    <div class="contract-footer">
        <div class="opsi"></div>
        <div class="contract-footer-top-right"></div>
        <div class="contract-footer-bottom"></div>
    </div>
</div>

